<!--Fist Screen-->
<ion-header>
  <ion-navbar>
    <!---Title-->
    <ion-title>2 Step Reviews</ion-title>
  </ion-navbar>
</ion-header>
<!--Theme Appearance animation (Zoom In)-->
<ion-content>
  <br>
  <ion-col col-12 padding-top>
    <span font-bold span-medium padding-left>Profile</span>
  </ion-col>
  <ion-grid no-padding >
    <ion-col col-12 padding-top *ngIf="!usuario">
      <span font-bold span-small="" padding-left>No results found</span>
    </ion-col>

    <ion-col col-12 *ngIf="usuario">
      <ion-card padding box-shadow>
        <ion-avatar>
          <img [src]="usuario?.avatar?.web_url" alt="">
        </ion-avatar>
        <ion-card-content text-center>
          <h1>{{ usuario?.nombre }}</h1>
          <p>{{ usuario?.email }}</p>
        </ion-card-content>

        <br>
      </ion-card>
      <button ion-button full (click)="logout()" style="background-color: #4FF6C6">Logout</button>

    </ion-col>
  </ion-grid>
</ion-content>
<!-- Fab Button -->
<ion-fab #fab bottom right>
  <button button-ion-fab ion-fab style="position : absolute; bottom: 70px; right : 20px;" (click)="presentConfigModal()">
    <ion-icon name="cog"></ion-icon>
  </button>
</ion-fab>
