<ion-select [(ngModel)]="company" multiple="false" interface="action-sheet" *ngIf="company" #selectCompanies>
    <ion-option *ngFor="let item of companies; let i= index" [value]="item">{{item.name}}</ion-option>
</ion-select>
<!--Fist Screen-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon class="icon-menu" name="menu"></ion-icon>
        </button>
        <!---Title-->
        <ion-title>2Step Reviews</ion-title>
    </ion-navbar>
</ion-header>
<!-- Themes Login + logo -->
<ion-content class="masters">
    <br>
    <ion-col col-12 padding-top>
        <span font-bold span-medium padding-left>Send A Review Invite</span>
    </ion-col>
    <ion-grid>
        <ion-row wrap padding>
            <ion-col>
                <br>
                <br>
                <br>
                <br>
                <div align="center">
                    <img padding-bottom src="assets/images/logo-icon-blank.png" style="width:70px; height: 70px">
                </div>
                <form  [formGroup]="form" (submit)="onSubmit(form.value)">
                    <!---Input field username-->
                    <ion-item no-lines box-shadow>
                        <ion-label class="lm-label">
                            <ion-icon name="person"></ion-icon>
                        </ion-label>
                        <ion-input type="email" no-margin type="text" placeholder="Name" formControlName="name"></ion-input>
                    </ion-item>
                    <br>
                    <!---Input field password-->
                    <ion-item no-lines box-shadow>
                        <ion-label class="lm-label">
                            <ion-icon name="call"></ion-icon>
                        </ion-label>
                        <ion-input lmMask type="tel" no-margin type="text" placeholder="To" formControlName="to"></ion-input>
                    </ion-item>
                    <!---Input field password-->
                    <br>
                    <button col-12 ion-button button-clear-outline [disabled]="form.invalid">
                        Send
                        <ion-icon name="paper-plane"></ion-icon>
                    </button>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
