<!--Fist Screen-->
<ion-header>
    <ion-navbar>
        <!---Title-->
        <ion-title>2 Step Reviews</ion-title>
    </ion-navbar>
</ion-header>
<!--Theme Appearance animation (Zoom In)-->
<ion-content >
    <br>
    <ion-col col-12 padding-top>
            <span font-bold span-medium padding-left>Reviews</span>
        <ion-list >
            <ion-item no-lines box-shadow margin-top >
                <!-- Content  Icon -->
                <ion-icon icon-small item-start no-adding no-margina>
                    <i class="icon-filter"></i></ion-icon>
                <!-- Content Title -->
                <ion-label item-title>Only Mine</ion-label>
                <ion-toggle item-end [value]="my_reviews" (ionChange)="changeFilter()" [checked]="my_reviews"></ion-toggle>
            </ion-item>
        </ion-list>
    </ion-col>

    <ion-grid no-padding >
        <ion-col col-12 padding-top *ngIf="!animateItems?.length">
            <span font-bold span-small="" padding-left>No results found</span>
        </ion-col>

        <ion-col col-12>
            <ion-list>
                <ion-item box-shadow margin-top no-lines *ngFor="let item of animateItems; let i = index;" [ngClass]="{ 'zoom-in': true }">
                    <!-- Avatar -->
                    <ion-avatar item-start>
                        <!--<img [src]="item.image">-->
                        <ngx-avatar name="{{ item.customer }}" [bgColor]="colorBgAvatar(item.customer)"></ngx-avatar>
                    </ion-avatar>
                    <!-- Title -->
                    <h2 item-title>{{ item.customer }}</h2>
                    <h3 text-wrap margin-top>
                        <ion-icon name="pin"></ion-icon><b>{{ item.office_name }}</b> &nbsp;&nbsp;&nbsp;&nbsp; {{ item.office_address}}
                    </h3>
                    <h3 text-wrap >
                        {{ item.comment }}
                    </h3>
                    <h3 text-wrap >
                        <ion-icon name="calendar"></ion-icon><b>{{  item.created_at | date: 'fullDate' }}</b>
                    </h3>
                    <br>
                    <img *ngIf="item?.platform.id == 2" alt="" src="../../assets/images/google.png" style="width: 25px;height: 25px"/>
                    <img *ngIf="item?.platform.id == 1" alt="" src="../../assets/images/facebook.png" style="width: 25px;height: 25px"/>
                    <div>
                        <ion-icon
                                name="star"
                                *ngFor="let num of [1,2,3,4,5]"
                                [ngStyle]="{ 'color' : getColor(num, item.punctuation)}"
                        >
                        </ion-icon>
                    </div>
                </ion-item>
                <ion-infinite-scroll (ionInfinite)="getReviews($event)">
                    <ion-infinite-scroll-content></ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ion-list>
        </ion-col>
    </ion-grid>
</ion-content>
